/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/*----------------RESET CSS END--------------*/


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    color: #102746;
}

[class*='__container'] {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1090px;
}

/*   HEADER STYLES START   */

.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}

.header__wrapper {
    padding-top: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}
.header__item:last-child {
    margin-right: 0px;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.header__link:hover,
header__link:focus,
header__link:active {
    opacity: 0.75;
}

/*   HEADER STYLES END   */

/*   INTRO STYLES START   */
.intro {
    min-height: 100vh;
    background: url(../img/sections/intro/intro-bg.jpg);
    background-size: cover;
    padding-top: 263px;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}

.intro__subtitle {
    max-width: 546px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
}
.search__form-info {
    display: flex;
    flex-wrap: wrap;
}

.search__form-field {
    width: 297px;
    background: transparent url(../img/svg/circle-icon.svg) no-repeat left 6px;
    background-size: 20px;
    border-bottom: 2px solid #bfc0c5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.search__form-field::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
}

.search__form-submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    background: #1b7dff;
}

.search__form-submit:hover,
.search__form-submit:focus,
.search__form-submit:active {
    background: #2974d7;
}

/*   INTRO STYLES END  */



/*   BENEFITS STYLES START  */

.benefits {
    margin-bottom: 131px;
}

.benefits__wrap {
    max-width: 1260px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title {
    width: 100%;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    background-color: white;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}


.benefits__card {
    grid-column: span 1;
    margin-bottom: 112px;


}

.benefits__card-icon {
    min-width: 66px;
    margin-bottom: 37px;
}

.benefits__card-title {
    margin-bottom: 26px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.benefits__card-subtitle {
    margin-bottom: 39px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.benefits__card-link {
    display: inline-block;
    padding-right: 59px;
    text-transform: uppercase;
    color: #006DFE;
    background: url(../img/svg/right-arrow.svg) no-repeat 95% center;
    transition: .2s all;
}

.benefits__card-link::hover,
.benefits__card-link::focus {
    background: url(../img/svg/right-arrow.svg) no-repeat right center;

} 
/*   BENEFITS STYLES END  */


/*   PLACES STYLES START  */

/*   PLACES STYLES END  */